<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="iso-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compensar</title>
    <script src="https://kit.fontawesome.com/7a1fec5b9a.js" crossorigin="anonymous"></script>
    <meta content="text/html;" charset="utf-8" />
    <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../lib/css/style.css">
    <link rel="stylesheet" href="../lib/jquery-ui-1.12.1/jquery-ui.css">

    <link rel="stylesheet" href="../lib/indicativo/css/intlTelInput.css">

    <script src="../lib/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="card position-absolute top-50 start-50 translate-middle  col-sm-5 col-lg-4">
                <div class="card-body">
                    <button type="button" onclick=" location.href='index.html'" class="btn-close"
                        aria-label="Close"></button>
                    <h2 class="card-title text-center"><img src="../media/logo_compensar.png" class="logo"></h2>
                    <br>
                    <div class="text-center">
                        <small class="text-muted">Tu cuenta ha sido creada con exito</small>
                    </div>
                    <br>
                    <img src="../media/exito.svg" class="card-img-top" alt="...">
                    <br>
                    <div class="text-center">
                        <small class="text-center text-muted">&iexcl;Te invitamos a disfrutar de todos los servicios que
                            Compensar tiene para ti.!</small>
                    </div>
                    <div class="text-center">
                        <br>
                        <a class="btn btn-primary" href="index.html" role="button">Ingresar</a>
                    </div>

                </div>
            </div>
        </div>
        <br>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../lib/indicativo/js/intlTelInput.js"></script>

</body>

</html>
<script type="text/javascript" src="../lib/js/funciones_otp.js"></script>
<script>
    localStorage.clear();
</script>